<div class="footer">
    <div class="links pt-5">
        <div class="links1 container p-5 mx-auto  ">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-3 col-md-6 text-center my-2">عروض شركات التداول</div>
                <div class="col-lg-3 col-md-6 text-center my-2">روابط مهمة</div>
                <div class="col-lg-3 col-md-6 text-center my-2">التحليل الفني والتوصيات</div>
                <div class="col-lg-3 col-md-6 text-center my-2">شركات التداول</div>
            </div>
            <div class="endLine2"></div>
            <div class="links2 container mx-auto p-3">
                <div class="w-75 mx-auto row justify-content-between align-items-center">
                    <div class="col-lg-3 col-md-6 text-center my-2">سياسة الخصوصية</div>
                    <div class="col-lg-3 col-md-6 text-center my-2">شروط الاستخدام</div>
                    <div class="col-lg-3 col-md-6 text-center my-2">تواصل معنا</div>
                    <div class="col-lg-3 col-md-6 text-center my-2">من نحن</div>
                </div>
            </div>
            <div class="links3 container p-3 mx-auto">
                <div class="row justify-content-between align-items-center">

                    <div class="col-md-9 py-5">
                        <h6>اشعل الاشعارات</h6>
                        <div class="sendNotifications w-100 my-3 d-flex align-items-center">
                            <div class="px-2 w-100">
                                <input type="text" class="form-control bg-danger text-white" placeholder="ادخل ايميلك">
                            </div>
                            <button class="btn btn-danger w-25">
                                ارسال
                                <i class="fa-solid fa-paper-plane"></i>
                            </button>
                        </div>
                        <div class="my-3 text-right">
                            <h6>مواقع التواصل الاجتماعي</h6>
                            <div class="d-flex justify-content-start my-3 align-items-center">
                                <img style="width: 20px; margin: 10px;" src="../../assets/gmail.png" alt="">
                                <img style="width: 20px; margin: 10px;" src="../../assets/messenger.png" alt="">
                                <img style="width: 20px; margin: 10px;" src="../../assets/tik-tok.png" alt="">
                                <img style="width: 20px; margin: 10px;" src="../../assets/instagram.png" alt="">
                                <img style="width: 20px; margin: 10px;" src="../../assets/facebook.png" alt="">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-5">
                        <div class="my-2"><i class="fa-solid fa-location-dot mx-2"></i>
                            <a href="">العنوان</a>
                        </div>
                        <div class="my-2"><i class="fa-solid fa-phone mx-2"></i>
                            <a href="">0123456789</a>
                        </div>
                        <div class="my-2"><i class="fa-solid fa-envelope mx-2"></i>
                            <a href="">m@gmail.com</a>
                        </div>
                        <div class="my-5 text-left">
                            <h4 class="text-center">MENA SCAM</h4>
                            <h5 class="text-muted text-center">MST: 16876479779</h5>
                        </div>
                    </div>

                </div>
<div class="container text-center mx-auto copyright">
© Copyright 2022 By Brand Name. Powered by Kaiser Trhong
</div>
            </div>
        </div>


    </div>
</div>