<div [style]="'background-image:url('+homeSec1Info?.image+')'" class="text-center p-5 my-5 homeHeader">
    <h1 class="mt-5">{{homeSec1Info?.text1}}</h1>
    <h3>{{homeSec1Info?.text2}}</h3>

    <div class="homeSearch  my-5">

        <div class="my-3 d-flex align-items-center mx-auto">
            <i class="fa-solid fa-search mx-2"></i>
            <input type="text" placeholder="ابحث هنا">
        </div>
        <div class="d-flex align-items-center justify-content-evenly bg-transparent mx-auto">
            <a href="" class="btn">الصفحة الرئيسية</a>
            <a href="" class="btn">تواصل معنا</a>
            <a href="" class="btn">معلومات عنا</a>
        </div>

    </div>
</div>
<!--  [style]="'background-image:url('+homeSec1Info?.image+')'" -->

<div class="px-5 py-2 fakeCompaniesReviews mx-auto">

    <div class="fakeCompaniesReviewsHeadline mt-5 mb-1">

        <h2> الشركات المحتالة
        </h2>
        <a class="h4">عرض كل الشركات <i class="fa-solid fa-chevron-left"></i>
            <i class="fa-solid fa-chevron-left"></i></a>

    </div>

    <div class="row my-2 py-2 mx-auto">
        <div data-aos="fade-up" class="fakeCompaniesReviewsItem col-lg-3 col-md-6 py-2">
            <div class="inner px-4 pb-3 pt-1">

                <div class="my-3 px-5">
                    <img src="../../assets/download.png" class="w-100" alt="">
                </div>
                <div class="fakeHeadline h3">Evest</div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>طريقة الاحتيال</span>
                    <span>Forex, Indices, Stocks, CoÇÇodities</span>
                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>الدول المستهدفة</span>
                    <span>
                        <span class="fi fi-eg companiesFlags"></span>
                        <span class="fi fi-es companiesFlags"></span>
                        <span class="fi fi-pt companiesFlags"></span>
                    </span>

                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>المنصة المستخدمة</span>
                    <span>
                        MT4, Web, Mobile, AvaOption
                    </span>

                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>عدد شكاوي الاحتيال</span>
                    <span>
                        24 </span>

                </div>
                <div class="fakeButtons d-flex align-items-center justify-content-between">
                    <div class="fakeButton1 mx-1">عرض تفاصيل الشركة</div>
                    <div class="fakeButton2 mx-1">اضف تقييم للشركة</div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" class="fakeCompaniesReviewsItem col-lg-3 col-md-6 py-2">
            <div class="inner px-4 pb-3 pt-1">

                <div class="my-3 px-5">
                    <img src="../../assets/download.png" class="w-100" alt="">
                </div>
                <div class="fakeHeadline h3">Evest</div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>طريقة الاحتيال</span>
                    <span>Forex, Indices, Stocks, CoÇÇodities</span>
                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>الدول المستهدفة</span>
                    <span>
                        <span class="fi fi-eg companiesFlags"></span>
                        <span class="fi fi-es companiesFlags"></span>
                        <span class="fi fi-pt companiesFlags"></span>
                    </span>

                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>المنصة المستخدمة</span>
                    <span>
                        MT4, Web, Mobile, AvaOption
                    </span>

                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>عدد شكاوي الاحتيال</span>
                    <span>
                        24 </span>

                </div>
                <div class="fakeButtons d-flex align-items-center justify-content-between">
                    <div class="fakeButton1 mx-1">عرض تفاصيل الشركة</div>
                    <div class="fakeButton2 mx-1">اضف تقييم للشركة</div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" class="fakeCompaniesReviewsItem col-lg-3 col-md-6 py-2">
            <div class="inner px-4 pb-3 pt-1">

                <div class="my-3 px-5">
                    <img src="../../assets/download.png" class="w-100" alt="">
                </div>
                <div class="fakeHeadline h3">Evest</div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>طريقة الاحتيال</span>
                    <span>Forex, Indices, Stocks, CoÇÇodities</span>
                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>الدول المستهدفة</span>
                    <span>
                        <span class="fi fi-eg companiesFlags"></span>
                        <span class="fi fi-es companiesFlags"></span>
                        <span class="fi fi-pt companiesFlags"></span>
                    </span>

                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>المنصة المستخدمة</span>
                    <span>
                        MT4, Web, Mobile, AvaOption
                    </span>

                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>عدد شكاوي الاحتيال</span>
                    <span>
                        24 </span>

                </div>
                <div class="fakeButtons d-flex align-items-center justify-content-between">
                    <div class="fakeButton1 mx-1">عرض تفاصيل الشركة</div>
                    <div class="fakeButton2 mx-1">اضف تقييم للشركة</div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" class="fakeCompaniesReviewsItem col-lg-3 col-md-6 py-2">
            <div class="inner px-4 pb-3 pt-1">

                <div class="my-3 px-5">
                    <img src="../../assets/download.png" class="w-100" alt="">
                </div>
                <div class="fakeHeadline h3">Evest</div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>طريقة الاحتيال</span>
                    <span>Forex, Indices, Stocks, CoÇÇodities</span>
                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>الدول المستهدفة</span>
                    <span>
                        <span class="fi fi-eg companiesFlags"></span>
                        <span class="fi fi-es companiesFlags"></span>
                        <span class="fi fi-pt companiesFlags"></span>
                    </span>

                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>المنصة المستخدمة</span>
                    <span>
                        MT4, Web, Mobile, AvaOption
                    </span>

                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>عدد شكاوي الاحتيال</span>
                    <span>
                        24 </span>

                </div>
                <div class="fakeButtons d-flex align-items-center justify-content-between">
                    <div class="fakeButton1 mx-1">عرض تفاصيل الشركة</div>
                    <div class="fakeButton2 mx-1">اضف تقييم للشركة</div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" class="fakeCompaniesReviewsItem col-lg-3 col-md-6 py-2">
            <div class="inner px-4 pb-3 pt-1">

                <div class="my-3 px-5">
                    <img src="../../assets/download.png" class="w-100" alt="">
                </div>
                <div class="fakeHeadline h3">Evest</div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>طريقة الاحتيال</span>
                    <span>Forex, Indices, Stocks, CoÇÇodities</span>
                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>الدول المستهدفة</span>
                    <span>
                        <span class="fi fi-eg companiesFlags"></span>
                        <span class="fi fi-es companiesFlags"></span>
                        <span class="fi fi-pt companiesFlags"></span>
                    </span>

                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>المنصة المستخدمة</span>
                    <span>
                        MT4, Web, Mobile, AvaOption
                    </span>

                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>عدد شكاوي الاحتيال</span>
                    <span>
                        24 </span>

                </div>
                <div class="fakeButtons d-flex align-items-center justify-content-between">
                    <div class="fakeButton1 mx-1">عرض تفاصيل الشركة</div>
                    <div class="fakeButton2 mx-1">اضف تقييم للشركة</div>
                </div>
            </div>
        </div>





    </div>


    <div class="endLine"></div>

</div>

<div class="client-reviews px-5 pt-2 pb-5">


    <div class="clientReviewsHeadline mt-5 mb-1">
        <h2>
            تعليقات
        </h2>
        <a class="h4">عرض كل الشركات <i class="fa-solid fa-chevron-left"></i>
            <i class="fa-solid fa-chevron-left"></i></a>

    </div>

    <div class="row justify-content-center mx-auto align-items-center pb-5 mb-5">
        <div data-aos="zoom-in" class="col-lg-4 col-md-6 px-3 py-5">
            <div class="commentsBackLayer">
                <div class="commentsFrontLayer px-1">
                    <div class="commentProducer">
                        <div class="producerInfo py-3 px-2">
                            <div class="px-1">
                                <img src="../../assets/2e4566fd829bcf9eb11ccdb5f252b02f.jpg" alt="">
                            </div>
                            <div class="px-1">اسلام محمد</div>
                        </div>
                        <div class="producerRate py-3 px-2">
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                        </div>

                    </div>
                    <div class="producerCompanyName h4 px-5">
                        Evest
                    </div>
                    <p class="my-2">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita similique provident
                        voluptatem minima architecto fugit ducimus tempore ea impedit.
                        Quam placeat, officiis itaque tempore ratione consequuntur veniam laudantium aut corrupti.
                    </p>
                </div>
            </div>
        </div>
        <div data-aos="zoom-in" class="col-lg-4 col-md-6 px-3 py-5">
            <div class="commentsBackLayer">
                <div class="commentsFrontLayer px-1">
                    <div class="commentProducer">
                        <div class="producerInfo py-3 px-2">
                            <div class="px-1">
                                <img src="../../assets/2e4566fd829bcf9eb11ccdb5f252b02f.jpg" alt="">
                            </div>
                            <div class="px-1">اسلام محمد</div>
                        </div>
                        <div class="producerRate py-3 px-2">
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                        </div>

                    </div>
                    <div class="producerCompanyName h4 px-5">
                        Evest
                    </div>
                    <p class="my-2">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita similique provident
                        voluptatem minima architecto fugit ducimus tempore ea impedit.
                        Quam placeat, officiis itaque tempore ratione consequuntur veniam laudantium aut corrupti.
                    </p>
                </div>
            </div>
        </div>
        <div data-aos="zoom-in" class="col-lg-4 col-md-6 px-3 py-5">
            <div class="commentsBackLayer">
                <div class="commentsFrontLayer px-1">
                    <div class="commentProducer">
                        <div class="producerInfo py-3 px-2">
                            <div class="px-1">
                                <img src="../../assets/2e4566fd829bcf9eb11ccdb5f252b02f.jpg" alt="">
                            </div>
                            <div class="px-1">اسلام محمد</div>
                        </div>
                        <div class="producerRate py-3 px-2">
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                            <i style="color: gold;" class="fa-solid fa-star"></i>
                        </div>

                    </div>
                    <div class="producerCompanyName h4 px-5">
                        Evest
                    </div>
                    <p class="my-2">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita similique provident
                        voluptatem minima architecto fugit ducimus tempore ea impedit.
                        Quam placeat, officiis itaque tempore ratione consequuntur veniam laudantium aut corrupti.
                    </p>
                </div>
            </div>
        </div>



    </div>




</div>

<div class="websiteVIP overflow-hidden mx-auto row">
    <div data-aos="fade-left" class="position-relative col-md-6 p-5">
        <div class="companyReportDiv h2 ">
            تبليغ عن احتيال
        </div>
        <div class="companyReportImage w-75">
            <img class="w-100" src="../../assets/html-tagst.jpg" alt="">
        </div>
    </div>
    <div data-aos="fade-right" class="col-md-6 p-5">
        <h5 class="my-5">
            في حالة تعرضك لاحتيال من شركات تداول غير مرخصة يمكنك تبليغنا في الحال
        </h5>
        <h6 class="text-muted my-5">
            هذه الخدمة لك و لمن يريد الحصول على خدمات مميزة
            لدخول عالم التداول و الاستثمار و البدء بالتداول حسب شروط خاصة مع شركات امنة و مرخصة في اسواق الاموال
        </h6>
        <div class="text-center">
            <button class="btn reportButton">تبليغ عن شركة</button>
        </div>


    </div>
</div>


<div class="articlesPart">
    <div class="container">
        <div class="articles p-5">
            <div class="articlesHeadline text-center">


                مقالات


            </div>

            <div class="row mx-auto py-1">
                <div data-aos="fade-left" class="col-lg-3 col-md-6 p-2">
                    <div class="bg-transparent articlesItem">

                        <div class="articlesItemHeadline">

                            <span>ماهو التداول عبر الانترنت</span>
                            <span>01</span>
                        </div>
                        <p class="text-muted">
                            Lorem ipsum dolor sit, 
                            amet consectetur adipisicing elit. 
                            Beatae voluptatum nobis amet recusandae deleniti adipisci quos qui iusto odit. 
                            Unde molestiae inventore voluptatum, beatae molestias veritatis ex nemo suscipit magni.
                        </p>
<div class="d-flex px-3 justify-content-between">
<span>اعرف المزيد</span>
<span><i class="fa-solid fa-arrow-left"></i></span>
</div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<div class="px-5 py-2 realCompaniesReviews mx-auto">

    <div class="realCompaniesReviewsHeadline mt-5 mb-1">

        <h2> شركات موثوقة
        </h2>
        <a class="h4">عرض كل الشركات <i class="fa-solid fa-chevron-left"></i>
            <i class="fa-solid fa-chevron-left"></i></a>

    </div>

    <div class="row my-2 py-2 mx-auto">
        <div data-aos="fade-up" class="realCompaniesReviewsItem col-lg-3 col-md-6 py-2">
            <div class="inner px-4 pb-3 pt-1">

                <div class="my-3 px-5">
                    <img src="../../assets/download.png" class="w-100" alt="">
                </div>
                <div class="fakeHeadline h3">Evest</div>
               
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>الدول المستهدفة</span>
                    <span>
                        <span class="fi fi-eg companiesFlags"></span>
                        <span class="fi fi-es companiesFlags"></span>
                        <span class="fi fi-pt companiesFlags"></span>
                    </span>

                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <span>المنصة المستخدمة</span>
                    <span>
                        MT4, Web, Mobile, AvaOption
                    </span>

                </div>
                
                <div class="fakeButtons d-flex align-items-center justify-content-between">
                    <div class="realButton1 mx-1">عرض تفاصيل الشركة</div>
                    <div class="realButton2 mx-1">فتح حساب</div>
                </div>
            </div>
        </div>
     





    </div>


    

</div>
<!-- <div class="companiesMechanism p-5">
    <div style="font-size: 20px;" 
    class="mechanismHeadline text-center">الية عمل كاشف شركات التداول</div>
    <div class="text-center">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, eligendi.
    </div>
    <div class="mx-auto container row">
        <div class="col-md-4 p-5">
            <div class="mechanismItem p-5">
                <div class="icon my-3 text-center">
                    <i style="font-size: 30px;" class=" fa-solid fa-paper-plane"></i>
                </div>
                <div class="illustration text-center">
                    Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>
    </div>
</div> -->